#Container {

	min-width: 900px;
	max-width: 1050px;
	font-family: Verdana, Arial, Sans-Serif;
	font-weight: 100;
	font-size: 18px;
	margin: 30px auto 30px auto;
	padding-bottom: 60px;
	background : #C3C3C3;
}

#Founders {

	background: #D0D0D0;
	padding: 20px;
	min-width: 800px;
	max-width: 950px;
	margin: auto;

}

#Name {

	padding-left: 10px;
	padding-top: 20px;
}

.Container-header {

	padding-left: 10px;
	padding-top: 20px;
}

.Houses {

	padding : 10px;

}

.companyName {
	color : white;
}

.bottom {
    border-bottom: 1px solid black;
}

.orange-header {

	background-color: orange;
	height : 5px;
}

.black-header {
	background : black;
	height : 20px;
}

.white-header {
	background : white;
	height : 100px;
}

.Logo {
	height : 90px;
	width  : 190px;
	padding : 5px;
}

footer {
	background : rgb(200,200,200);
}

body {
	background : #DCDCDC;
}

.navbar-inverse {

	border: 1px solid black;
}

.navbar-brand {
	color:#C3C3C3;;
}


.darkBG {
	background : #999;
}

.darkerBG {
	background : #666;
}

.darkestBG {
	background : #333;
}


nav.horizontalNav{		border: 1px solid black;    text-align: center;		background-color: rgb(100,70,70);	}
	#zillow { color: rgb(230,230,230);}
	nav.horizontalNav button { border : 50px black;}



